/* Custom CSS*/


#phone-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}

/* Responsive CSS */
@media screen and (max-width:499.98px) {
    #phone-container{
        grid-template-columns: 1fr ;
    }
}