#phone-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
}
.phone-details{
    border: 1px solid rgb(92, 64, 64);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media screen and (max-width:499.98px) {
    #phone-container{
        grid-template-columns: 1fr ;
    }
    .phone-details{
        grid-template-columns: 1fr;
    }
}